$white: #fff;
$ebony-clay:#22343D;
$observatory: #02897A;
$periwinkle-gray: #BCD0E5;
$nile-blue: #173A56;
$cod-gray: #1a1a1a;
$black: #000;
$evening-sea: #01564d;
$gallery: #EFEFEF;
$alto: #DEDEDE;
$supernova: #F3CD03;
$clear-day: #EDFFFC;


$base-color: $ebony-clay;
$base-bg: $white;
$secondary-text-color: $white;
$brand-color: $observatory;
$dark-brand-color: $evening-sea;
$btn-default-bg: $periwinkle-gray;
$btn-default-color: $nile-blue;
$slide-btn-bg: $gallery;
$card-border: $alto;
$stars-color: $supernova;
$social-bg: $clear-day;

$bg-color-darktheme: $cod-gray;
$base-color-darktheme: $white;

$blue-box: #4D8DFF;
$purple-box: #740A76;
$red-box: #F03E3D;
$orange-box: #FF9900;
$darkblue-box: #035B81;

$font-family-sans-serif: 'Poppins', Arial, sans-serif;
$base-font-family: $font-family-sans-serif;

$font-size-base: 16px;
$line-height-base: 26px;
$font-weight-base: 400;

$mobile-width: 320px;
$mobile-landscape-width: 600px;
$mobile-md-width: 600px;
$tablet-width: 768px;
$desktop-width: 980px;